pytest>=7
pytest-cov>=4
pre-commit>=3
ruff>=0.2
sphinx>=7.0.0,<8
sphinx_rtd_theme>=1.2.0,<2
sphinx-autoapi>=3.0.0,<4
sphinx-copybutton>=0.5.0,<1
pylint>=3
ipykernel>=6
nbconvert>=7
nbsphinx>=0.9
ipython>=8
jupyterlab>=4
matplotlib
ghp-import>=2
